/* Basic Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar
{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links
{
  list-style-type: none;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
#logo
{
  font-size: 28px;
  float: left;
  padding:10px;
  margin: auto;
  font-weight: bold;
}
.nav-links a 
{
  color: white;
  text-decoration: none;
}
.nav-links a:hover
{
  color: rgba(115, 213, 255, 0.614);
}

/* Checkbox Toggle */
#menu-toggle 
{
  display: none;
} 

.hamburger
{
  display: none;
  color: white;
  padding-right: 10px;
  font-size: 25px;
  cursor: pointer;
}


/*Responsive Behavior*/
@media (max-width: 768px) {
  .hamburger
  {
    display: block;
  }

  .nav-links
  {
    background:#bfbfbf70;
    color: black;
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    list-style-type:disclosure-closed;
    width: auto;
    position: absolute;
    top: 32px;
    right: 0px;
    padding: 10px 25px;
  }
  .nav-links a
  {
    color: black;
    cursor: pointer;
  }
  .nav-links a:hover
  {
    color: #00000096;
    text-decoration:underline;
  }

  #menu-toggle:checked + .hamburger + .nav-links
  {
    display: grid;
  }

}