body
{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator
{
    background-color: rgb(23, 24, 26);
    width: 25%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #80808054;
    margin-top: 3%;
}

.innerArea
{
    width: 100%;
    border-radius: 5px;
}

input[type="text"]
{
    height: 55px;
    width: -webkit-fill-available;
    font-size: 25px;
    color: rgb(59, 174, 63);
}

.calc-operations
{
    width: 100%;
}

.calc-operations tr td button
{
    background: repeating-linear-gradient(320deg, black, transparent 100px);
    color: turquoise;
    width: 100%;
    height: 65px;
    font-size: 22px;
    cursor: pointer;
}

.calc-operations tr td button:hover
{
    background: repeating-linear-gradient(320deg, #80808059, transparent 130px);
    /* background-color: #80808059; */
}